<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="username" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="User_form_edit" 
        service="User" 
        entity="User" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #username attr="username" label=" username*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #email attr="email" label="email" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #password_hash attr="password_hash" label="password_hash" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #preferences attr="preferences" label="preferences" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="NOTIFICATION-user_id">
    <div layout-padding>
      <o-table 
        attr="NotificationTable" 
        service="Notification" 
        entity="Notification" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;restaurant_id;user_id;message;date_sent"  
        horizontal-scroll="yes"
        detail-form-route="Notification" 
        edit-form-route="Notification"
        visible-columns="id;restaurant_id;user_id;message;date_sent"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #message attr="message" title="message" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-date-input #date_sent attr="date_sent" type="date" label="date_sent" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="ORDER-user_id">
    <div layout-padding>
      <o-table 
        attr="OrderTable" 
        service="Order" 
        entity="Order" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;restaurant_id;user_id;status;date_ordered"  
        horizontal-scroll="yes"
        detail-form-route="Order" 
        edit-form-route="Order"
        visible-columns="id;restaurant_id;user_id;status;date_ordered"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #status attr="status" title="status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-date-input #date_ordered attr="date_ordered" type="date" label="date_ordered" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="REVIEW-user_id">
    <div layout-padding>
      <o-table 
        attr="ReviewTable" 
        service="Review" 
        entity="Review" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;restaurant_id;user_id;rating;comment;date_posted"  
        horizontal-scroll="yes"
        detail-form-route="Review" 
        edit-form-route="Review"
        visible-columns="id;restaurant_id;user_id;rating;comment;date_posted"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="restaurant_id" title="restaurant_id">
    <o-table-cell-renderer-service attr="restaurant_id" 
        service="Restaurant" entity="RestaurantType" columns="id;name"
        parent-keys="id:restaurant_id"
        value-column="name" keys="restaurant_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #rating attr="rating" title="rating" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
          <o-table-column #comment attr="comment" title="comment" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-date-input #date_posted attr="date_posted" type="date" label="date_posted" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="USERPREFERENCE-user_id">
    <div layout-padding>
      <o-table 
        attr="UserPreferenceTable" 
        service="UserPreference" 
        entity="UserPreference" 
        keys="id"
        parent-keys="user_id:id"
        columns="preference_name;user_id;preference_value;id"  
        horizontal-scroll="yes"
        detail-form-route="UserPreference" 
        edit-form-route="UserPreference"
        visible-columns="preference_name;user_id;preference_value;id"  
        sort-columns="preference_name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #preference_name attr="preference_name" title=" preference_name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #preference_value attr="preference_value" title="preference_value" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>